*.pyc
.pytest_cache/v/cache/nodeids
*.eps
*.hdf5
*.png
*.DL-Box
*.pontaserv
*.svg
*.csv
*.npy
*.txt
*.xml
*.iml
.idea/
weights/
tflog/
images/
figures/
distributed/
decoded_imgs/
MODEL/
__pycache__/

